*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/*

GENERALES

*/

h1{
	color: #068CEF;
	margin-bottom: 10px;
	font-size: 1.6em;
}

.m-right{
	margin-right: 8px;
}

hr{
	border: 0.5px solid #AAA;
}

.logo{
	width: 30%;
	margin: 0 auto;
	display: block;
}




/*

GENERALES

*/

.body-login{
	width: 100%;
	height: 100vh;
	background: url("../bg.jpg") no-repeat center center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #000;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.body-register{
	width: 100%;

	background: url("../bg.jpg") no-repeat center center;


}

.login-rrss{
	margin-top: 11px;
}

.login-rrss > a{
	color: #068CEF;
	text-decoration: none;
}

.cont-form-login{
	margin: 20px 0;
	height: 600px;
	padding: 20px !important;
	background: #FFF;
	box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 4px 7px 1px rgba(0,0,0,0.5);
}

.cont-form-login input{
	width: 100%;
	margin-bottom: 8px;
	padding: 8px 20px;
	transition: all .7s;
}

.cont-form-login input:focus{
	padding: 8px 40px;
}

div.rrss-inner{
	padding: 6px 0;
	border: 1px solid #AAA;
	margin-bottom: 8px;
	font-weight: 300;
	color: #FFF;

}

.login-facebook{
	background: #3b5998;
}
.login-facebook:hover{
	background: #204084
}

.login-google{
	background: #dd4b39;

}

.login-google:hover{
	background: #b93424;
}

.col-centered{
    float: none;
    margin: 0 auto;
}





